html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* wrap in media queries */ 
.aboutWrapper {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	background-color: #eaeaea;
}
.aboutImg {
	width: 100%;
	height: auto;
}