
.opener {
    height: 100%;
    background-color: black;
}
.openerImage {
	width: 100%;
}

/* Media Queries */

/* phone */
@media (max-width: 700px) {
    .enterSite {
        position: fixed;
        font-size: small;
        bottom: 2%;
        width: 100%;
        justify-content: center;
        display: flex;
        font-family: 'Raleway', sans-serif;
        padding: 100px 0px 120px 0px;
        cursor: pointer;
        color: white;
    }
}

/* ipad */
@media (min-width: 701px) and (max-width: 1100px) {
    .enterSite {
        position: fixed;
        font-size: large;
        bottom: 2%;
        width: 100%;
        justify-content: center;
        display: flex;
        font-family: 'Raleway', sans-serif;
        padding: 100px 0px 120px 0px;
        cursor: pointer;
        color: white;
    }
}

/* desktop */
@media (min-width: 1101px) {
    .enterSite {
        position: fixed;
        font-size: xx-large;
        bottom: 2%;
        width: 100%;
        justify-content: center;
        display: flex;
        font-family: 'Raleway', sans-serif;
        padding: 100px 0px 10px 0px;
        cursor: pointer;
        color: white;
    }
}