html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.arrows {
    color: white;
    padding: 15px;
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
}

/* ------------------------------------------- */

/* Media Queries */

@media (min-width: 680px) {
    /* desktop */
    .imgWrapper {
        display: flex;
        margin-top: 2%;
        justify-content: space-around; 
        align-items: center;
    }
    .arrows:hover {
        cursor: pointer;
        background-color: slategray;
        border-radius: 4px;
    }
}

@media (max-width: 679px) {
    /* mobile */
    img {
        width: 100%;
    }
    .imgWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .mobileArrowsWrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}