/* For All Dimensions */

.arrows {
    padding: 15px;
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    user-select: none;
    margin: 0px 2%;
}
a {
    cursor: pointer;
}
.imageWithLink:hover {
    opacity: 0.85;
}
.leftInvisibleArrow {
    position: absolute;
    height: 70%;
    width: 25%;
    left: 0px;
    z-index: 1;
}
.rightInvisibleArrow {
    position: absolute;
    height: 70%;
    width: 25%;
    right: 0px;
    z-index: 1;
}


/* ------------------------------------------- */

/* Media Queries */

@media (min-width: 1051px) {
    /* desktop */
    .imgWrapper {
        display: flex;
        margin-top: 2%;
        justify-content: space-around; 
        align-items: center;
    }
    .arrows:hover {
        cursor: pointer;
        border-radius: 4px;
    }
    .imageAndTextWrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }
    .textWrapper {
        display: flex;
        flex-direction: column;
        font-size: xx-large;
        font-family: 'Raleway', sans-serif;
        margin-left: 10%;
    }
}

@media (max-width: 1050px) {
    /* mobile */
    img {
        width: 100%;
    }
    .imgWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .mobileArrowsWrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .textWrapper {
        display: flex;
        flex-direction: column;
        font-size: large;
        font-family: 'Raleway', sans-serif;
        margin: 10% 0% 1% 0%;
        align-items: center;
    }
    .portraitText {
        text-align: center;
    }
}