/* ----------------------------------
	IE Class Names
*/
.IEwrapperMain {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.IEtriple {
	display: flex;
	flex-grow: 1;
	width: 100%;
}
.IEgraphicDesignImg {
	align-self: center;
	height: 200px;
	width: 200px;
	/* transition: width 0.1s ease;
	transition: height 0.1s ease; */
}
.IEgraphicDesignImg:hover {
	opacity: 0.85;
	cursor: pointer;
}


/* ----------------------------------*/

.graphicDesignImg:hover {
	opacity: 0.85;
	cursor: pointer;
}

/* Media Queries */ 
@media (max-width: 479px) {
	.graphicDesignImg {
		height: auto;
		width: 100%;
		transform: scale(0.9);
	    border-radius: 4px;
	}
}
@media (min-width: 480px) and (max-width: 900px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.graphicDesignImg {
		height: auto;
		width: 100%;
	}
}
@media (min-width: 901px) and (max-width: 1529px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	.graphicDesignImg {
		height: auto;
		width: 100%;
	}
}
@media (min-width: 1530px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.graphicDesignImg {
		height: auto;
		width: 100%;
	}
}