
.graphicDesignImg {
	height: auto;
	width: 100%;
}
.graphicDesignImg:hover {
	opacity: 0.85;
}

/* Media Queries */ 

@media (min-width: 480px) and (max-width: 801px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 802px) and (max-width: 1050px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 1051px) {
	.grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}