

/* Media Queries */

@media (min-width: 1051px) {
	/* desktop */

	.description {
		font-family: 'Playfair Display', serif;
	    color: dimgray;
	    font-size: x-large;
	    padding: 10px;
	    display: flex; 
		align-items: center;
		text-decoration: none;
	}
	.description:hover {
		cursor: pointer;
	}
	.videoWrapper {
		display: flex; 
		justify-content: space-around;
		margin-top: 2%;
	}
	.line {
		border: 1px solid lightgray;
	}
	.JWFilms {
		font-family: 'Sacramento', cursive;
	    font-size: 240px;
	    display: flex;
	    justify-content: center;
	    color: white;
	}
	.slogan {
		font-family: 'Amatic SC', cursive;
		font-size: 42px;
		display: flex;
		justify-content: center;
		color: white;
	}
	.logoWrapper {
		position: absolute;
		top: 35%;
		width: 100%;
	}
	.meAndJosh {
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		margin: 3% 0% 3% 0%;
	}
	.meAndJoshParagraph {
		font-family: 'Playfair Display', serif;
	    color: dimgray;
	    font-size: large;
	    text-align: center;
	    /*display: flex; 
		align-items: center;
		text-decoration: none;*/
	}
	.meAndJoshWrap {
		padding: 50px;
    	background: #ffcccc;
	}
}

@media (max-width: 1050px) {
	/* mobile */
	.videoWrapper {
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	.description {
		display: flex;
		justify-content: center;
		text-align: center;
		font-family: 'Playfair Display', serif;
	    color: dimgray;
	    font-size: small;
	    padding: 10px;
    	margin-bottom: 2%;
    	text-decoration: none;
	}
	.JWFilms {
		font-family: 'Sacramento', cursive;
		font-size: xx-large;
		display: flex;
		justify-content: center;
		color: darkgoldenrod;
		margin-top: 5%;
	}
	.slogan {
		font-family: 'Amatic SC', cursive;
		font-size: large;
		display: flex;
		justify-content: center;
		margin-bottom: 10%;
	}
	.meAndJosh {
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		margin: 3% 0% 3% 0%;
		flex-direction: column;
	}
	.meAndJoshParagraph {
		font-family: 'Playfair Display', serif;
	    color: dimgray;
	    font-size: small;
	    text-align: center;
	    /*display: flex; 
		align-items: center;
		text-decoration: none;*/
	}
	.meAndJoshWrap {
		padding: 30px;
    	background: #ffcccc;
    	margin: 3% 12%;
	}
}